# Announcement service server's top url
ANNOUNCEMENT_SERVER = '{{ announcement.url }}'
ANNOUNCEMENT_SERVER_LOGOUT = '{{ announcement.url_logout }}'

# Set force drupal logout
HORIZON_CONFIG['other_system_logout_url'] = ANNOUNCEMENT_SERVER_LOGOUT
