#!/bin/bash

DIR={{ script_dir }}
FILE={{ result_name }}.log
RESULT=${DIR}/${FILE}

echo "-------------------------------------------------" >> ${RESULT}
echo " Check {{ region }} Portal " >> ${RESULT}
echo "-------------------------------------------------" >> ${RESULT}


# 1. Check installed Portal
echo "1. Check installed Portal" >> ${RESULT}
echo "$ ls /usr/share/openstack-dashboard/nec_portal" >> ${RESULT}
ls /usr/share/openstack-dashboard/nec_portal 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 2. Check https crt file
echo "2. Check https crt file" >> ${RESULT}
echo "$ ls /etc/httpd/conf/ssl.crt/ | grep -i server.crt" >> ${RESULT}
ls /etc/httpd/conf/ssl.crt/ | grep -i server.crt 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 3. Check https key file
echo "3. Check https key file" >> ${RESULT}
echo "$ ls /etc/httpd/conf/ssl.key/ | grep -i server.key" >> ${RESULT}
ls /etc/httpd/conf/ssl.key/ | grep -i server.key 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 4. Check Access horizon
echo "4. Check Access horizon" >> ${RESULT}
echo "$ curl -L -k https://localhost/dashboard/auth/login/?next=/dashboard/ | grep loginBtn" >> ${RESULT}
curl -L -k https://localhost/dashboard/auth/login/?next=/dashboard/ | grep loginBtn 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 5. Check policy.json file
echo "5. Check policy.json file" >> ${RESULT}

# Check aflo_policy.json file
echo "Check aflo_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/aflo_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/aflo_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check keystone_policy.json file
echo "Check keystone_policy.json file" >> ${RESULT}
echo "$ grep \"prjadmin\" /etc/openstack-dashboard/keystone_policy.json" >> ${RESULT}
grep \"prjadmin\" /etc/openstack-dashboard/keystone_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

{% if region == "region" %}
# Check ceilometer_policy.json file
echo "Check ceilometer_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/ceilometer_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/ceilometer_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check cinder_policy.json file
echo "Check cinder_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/cinder_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/cinder_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check glance_policy.json file
echo "Check glance_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/glance_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/glance_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check heat_policy.json file
echo "Check heat_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/heat_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/heat_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check neutron_policy.json file
echo "Check neutron_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/neutron_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/neutron_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# Check nova_policy.json file
echo "Check nova_policy.json file" >> ${RESULT}
echo "$ grep \"context_is_admin\" /etc/openstack-dashboard/nova_policy.json" >> ${RESULT}
grep \"context_is_admin\" /etc/openstack-dashboard/nova_policy.json 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}
{% endif %}

# 6. Check remove.py file
echo "6. Check remove.py file" >> ${RESULT}
echo "$ grep -r REMOVE_PANEL /usr/share/openstack-dashboard/openstack_dashboard/enabled/" >> ${RESULT}
grep -r REMOVE_PANEL /usr/share/openstack-dashboard/openstack_dashboard/enabled/ 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 7. Check add REMOVE_PANEL
echo "7. Check add REMOVE_PANEL" >> ${RESULT}
echo "$ grep -r REMOVE_PANEL /usr/share/openstack-dashboard/openstack_dashboard/local/enabled/" >> ${RESULT}
grep -r REMOVE_PANEL /usr/share/openstack-dashboard/openstack_dashboard/local/enabled/ 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 8. Check installed Portal(self-identity:projects(global only), aflo:ticket_list, announcement:announcement)
echo "8. Check installed Portal(self-identity:projects(global only), aflo:ticket_list, announcement:announcement)" >> ${RESULT}
echo "$ ls /usr/share/openstack-dashboard/nec_portal/dashboards/project" >> ${RESULT}
ls /usr/share/openstack-dashboard/nec_portal/dashboards/project 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 9. Check port(443, 11211)
echo "9. Check port(443, 11211)" >> ${RESULT}
echo "$ firewall-cmd --list-all" >> ${RESULT}
firewall-cmd --list-all 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}

# 10. Check Operation logrotate file
echo "10. Check Operation logrotate file" >> ${RESULT}
echo "$ ls -alR /etc/logrotate.d/ | grep -i dailyRotateOperation" >> ${RESULT}
ls -alR /etc/logrotate.d/ | grep -i dailyRotateOperation 1>> ${RESULT} 2>&1
echo "" >> ${RESULT}
