input {
  file {
    path => "/var/log/horizon/operation/operation.log"
    start_position => beginning
  }
}
filter {
  if [path] == "/var/log/horizon/operation/operation.log" {
    grok {
      patterns_dir => ["./patterns"]
      match => { "message" => "%{DJANGODATETIME:datetime} %{NUMBER:process_id} %{LOGLEVEL:log_level} %{NOTSPACE:source_file} %{NOTCOMMA:project_name},%{NOTSPACE:project_id} %{NOTCOMMA:user_name},%{NOTSPACE:user_id} %{NOTSPACE:referer_url} %{NOTSPACE:operation_target} %{OPERATION_MESSAGE:operation_message} %{NOTSPACE:operation_type} %{NOTSPACE:http_response_code} %{JSON_DICTIONALY:request_parameter}" }
      add_tag => [ "parse_success" ]
    }
    date {
      match => [ "datetime" , "yyyy-MM-dd HH:mm:ss,SSS" ]
      locale => "en"
      timezone => "UTC"
      target => "datetime"
    }
    mutate {
      replace => { "type" => "portal-history" }
    }
  }
}

output {
  if [path] == "/var/log/horizon/operation/operation.log" and "parse_success" in [tags] {
{% if region == 'region' %}
    elasticsearch { hosts => '{{ elasticsearch.host }}:{{ elasticsearch.port }}' index => 'portal-history-project-%{project_id}-%{+YYYY.MM.dd}' }
{% elif region == 'global' %}
    elasticsearch { hosts => '{{ elasticsearch.host }}:{{ elasticsearch.port }}' index => 'portal-history-administrator-%{+YYYY.MM.dd}' }
{% endif %}
  } else if [path] == "/var/log/horizon/operation/operation.log" {
    file { path => "/var/log/logstash/logstash_parse.err" }
  }
}
