[DEFAULT]
log_model=logging.handlers
log_class=TimedRotatingFileHandler

# aggregate ratio set type
ar_set_type=1

[account]
# Configuration information for using the client
client_user = {{ keystone.capacity.user_name }}
client_password = {{ keystone.capacity.password }}
client_project_id = {{ keystone.capacity.tenant_name }}
# This is the configuration information when you want to use the Keystone v3.
client_auth_url = {{ keystone.auth_url }}
# It will specify the version of the Keystone you want to use.
# Default of client_auth_version is 2.
client_auth_version = {{ keystone.api_version }}
# This configuration information to be used in only when you want to use the Keystone v3.
client_user_domain_id = {{ keystone.capacity.user_domain_id }}
client_project_domain_id = {{ keystone.capacity.project_domain_id }}
# Nova API version.
client_nova_version = 2
client_nova_endpoint_type = internalURL
client_nova_region_name = {{ keystone.capacity.region_name }}

[disk_allocation_ratio]
# It can be set for each availability zone.
# Setting method is the "availability zone name = overcommit rate".
# If the setting of the availability zone name does not exist,
# it will calculate the overcommit rate 1.

[ram_allocation_ratio]
# It can be set for each availability zone.
# Setting method is the "availability zone name = overcommit rate".
# If the setting of the availability zone name does not exist,
# it will calculate the overcommit rate 1.

[cpu_allocation_ratio]
# It can be set for each availability zone.
# Setting method is the "availability zone name = overcommit rate".
# If the setting of the availability zone name does not exist,
# it will calculate the overcommit rate 1.
nova=2

[cinder]
# log_name=Log file name
# log_level=Log output level
# log_file_path_name=Log output destination
# log_formatter=Log output format
# log_when=Units of " log_interval " . If "D" Date
# log_interval=Interval until it is deleted
# log_backupCount=The number of files to be saved
# log_suffix=Form of extension of time save the log file
log_name=cinder_capacity
log_level=INFO
log_file_path_name=/var/log/capacity/cinder/cinder_capacity.log
log_formatter=%(message)s
log_when=D
log_interval=1
log_backupCount=390
log_suffix=%Y.%m.%d.%H.%M.%S

error_log_name=error_cinder
error_log_level=WARNING
error_log_file_path_name=/var/log/capacity/cinder/error_cinder.log
error_log_formatter=%(levelname)s %(asctime)s %(filename)s %(funcName)s : %(message)s
error_log_when=D
error_log_interval=1
error_log_backupCount=390
error_log_suffix=%Y.%m.%d

[glance]
log_name=glance_capacity
log_level=INFO
log_file_path_name=/var/log/capacity/glance/glance_capacity.log
log_formatter=%(message)s
log_when=D
log_interval=1
log_backupCount=390
log_suffix=%Y.%m.%d.%H.%M.%S

error_log_name=error_glance
error_log_level=WARNING
error_log_file_path_name=/var/log/capacity/glance/error_glance.log
error_log_formatter=%(levelname)s %(asctime)s %(filename)s %(funcName)s : %(message)s
error_log_when=D
error_log_interval=1
error_log_backupCount=390
error_log_suffix=%Y.%m.%d

[neutron]
log_name=neutron_capacity
log_level=INFO
log_file_path_name=/var/log/capacity/neutron/neutron_capacity.log
log_formatter=%(message)s
log_when=D
log_interval=1
log_backupCount=390
log_suffix=%Y.%m.%d.%H.%M.%S

error_log_name=error_neutron
error_log_level=WARNING
error_log_file_path_name=/var/log/capacity/neutron/error_neutron.log
error_log_formatter=%(levelname)s %(asctime)s %(filename)s %(funcName)s : %(message)s
error_log_when=D
error_log_interval=1
error_log_backupCount=390
error_log_suffix=%Y.%m.%d

[nova]
log_name=nova_capacity
log_level=INFO
log_file_path_name=/var/log/capacity/nova/nova_capacity.log
log_formatter=%(message)s
log_when=D
log_interval=1
log_backupCount=390
log_suffix=%Y.%m.%d.%H.%M.%S

error_log_name=error_nova
error_log_level=WARNING
error_log_file_path_name=/var/log/capacity/nova/error_nova.log
error_log_formatter=%(levelname)s %(asctime)s %(filename)s %(funcName)s : %(message)s
error_log_when=D
error_log_interval=1
error_log_backupCount=390
error_log_suffix=%Y.%m.%d

[swift]
log_name=swift_capacity
log_level=INFO
log_file_path_name=/var/log/capacity/swift/swift_capacity.log
log_formatter=%(message)s
log_when=D
log_interval=1
log_backupCount=390
log_suffix=%Y.%m.%d.%H.%M.%S

error_log_name=error_swift
error_log_level=WARNING
error_log_file_path_name=/var/log/capacity/swift/error_swift.log
error_log_formatter=%(levelname)s %(asctime)s %(filename)s %(funcName)s : %(message)s
error_log_when=D
error_log_interval=1
error_log_backupCount=390
error_log_suffix=%Y.%m.%d
